@model IEnumerable<myITOffice.Models.DeviceType>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid form-actions no-color">
    <div class="row">

        <div class="col text-left">

            <h4>Device types list</h4>

        </div>

        <div class="col text-right">

            <a class="btn btn-info btn-sm" asp-action="Create">Create New</a>


        </div>




    </div>



</div>



<table class="table table-striped table-bordered table-sm">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.Label("DESCRIPTION")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <partial name="_tablebuttons" model="item" />

                </td>
            </tr>
        }
    </tbody>
</table>
